{% extends 'base.html' %}
{% load bootstrap4 %}
{% load fullurl %}
{% block title %}Register{% endblock %}
{% block content %}
{#<div class="alert alert-primary" role="alert">#}
{#  A simple primary alert—check it out!#}
{#  <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#    <span aria-hidden="true">&times;</span>#}
{#  </button>#}
{#</div>#}
{#{% bootstrap_alert "Something " alert_type='error' %}#}
  <form action="{% fullurl 'users:register' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="注册"/>
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
  </form>

{% endblock %}