{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ topic.id }}{% endblock %}
{% load l10n %}
{% block header %}
<div class="card text-white bg-dark mb-3">
  <div class="card-body">
    <div class="card-header">
      <a href="{% url 'users:profile' topic.owner.id %}">{{ topic.owner }}</a>
    </div>
    <p class="card-text">{{ topic.text|linebreaks }}</p>
    <div class="card-footer text-muted">
      {{ topic.date_added|date:'M d, Y H:i'}}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
  <p><a href="{% url 'learning_logs:new_post' topic.id %}">{% trans "Add New Post:"%}</a></p>
  {% for post in posts %}
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ post.date_added|date:'M d, Y H:i' }}</h5>
        <h6 class="card-subtitle mb-2 text-muted" >{{ post.date_edit|date:'M d, Y H:i' }}</h6>
        {% if post.html_content %}
          <p class="card-text">{{ post.html_content|safe }}</p>
        {% else %}
          <p class="card-text">{{ post.text|linebreaks }}</p>
        {% endif %}

        {% if user ==  post.owner%}
          <a class="btn btn-primary" href="{% url 'learning_logs:edit_post' post.id %}">{% trans "Change:"%}</a>
        {% endif %}
      </div>
    </div>
  {% empty %}
    <p>{% trans "Waiting to add ..."%}</p>
  {% endfor %}
{% endblock %}
